= form_with model: pomodoro, id: 'new-pomodoro-form', class: 'new-pomodoro__form' do |form|
  .new-pomodoro__form__display
    = form.text_field :title, class: "new-pomodoro__form__display__title form-control", placeholder: 'タスク名を入力してください'
    = form.collection_select :project_id, current_user.projects.where(status: 0), :id, :title, class: "new-pomodoro__form__display__project", prompt: "----"
    %span#remaining-time.new-pomodoro__form__display__remaining-time
      00:10
    = form.hidden_field :start_time, value: DateTime.now
    = form.hidden_field :status, value: 0
    %span.new-pomodoro__form__display__buttons
      = button_tag type: 'submit', id: "pomodoro-play", class: "new-pomodoro__form__display__buttons__submit btn" do
        %i.fa.fa-play.fa-lg